*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
}

#calculator{
    margin: 0 1rem;
    width: 30vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ans{
    height: 10vw;
    width: 18vw;
    color: white;
    border: 1px solid black;
    background-color: black;
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.75rem;
    margin-top: 2rem;
}

form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}

fieldset:not(fieldset:nth-child(1)) {
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.75rem;
}

fieldset:nth-child(1){
    justify-self: flex-start;
    border:none;
    padding: 0;
    margin:0;
    margin-bottom: 5rem;
    height: 23vh;
}

button {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background-color: black;
    border: 1px solid grey;
    color:white;
}

button:hover{
    cursor:pointer;
    color:black;;
    background-color: white;
    border-color: black;
    transition: all 0.3s;
}
