* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgba(0, 113, 179, 0.4);
}

header {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(0, 113, 179);
    z-index: 1  ;
}

header h1 {
    margin: 0;
    padding: 1.5rem;
    font-size: 4rem;
}

h1:not(header h1) {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-decoration: underline;
}

.box p{
    text-transform: uppercase;
    margin-top: 0.75rem;
    margin-bottom: 0;
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.box p:hover{
    color: black;
    transition: all 0.3s;
}

.box {
    right: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: darkblue;
    text-align: center;
    color: #fff;
    font-size: 13px;
    position: relative;
    display: table;
}
  
.box span {
    display: table-cell;
    vertical-align: middle;
}
  
.box:before, .box:after {
    content: '';
    position: absolute;
}
  
.box:before {
    border-left: 25px solid darkblue;
    border-right: 25px solid transparent;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    right: 200px;
    top: 0px;
    width: 0;
    height: 0;
    display: block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
  
.box:after {
    border-left: 26px solid transparent;
    border-right: 26px solid rgb(0, 113, 179);
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    left: 150px;
    top: -1px;
    width: 0;
    height: 0;
    display: block;
}

.hueco-header{
    height: 15vh;
}

.contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
}

.contenido-index div{
    border-radius: 1rem;
    padding: 1rem;
    width: 20vw;
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contenido-boletin2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
}

.ejercicio {
    border-radius: 1rem;
    padding: 1rem;
    width: 20vw;
    height: 50vh;
    background-color: rgb(2, 162, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.ejercicio h3 {
    margin: 0;
}

.resultado {
    padding: 0.5rem;
    width: 18vw;
    height: 30vh;
    background-color: black;
    color: lightgray;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}

.resultado p {
    margin: 0;
}

.botones {
    display: flex;
    width: 100%;
    align-items: space-around;
    justify-content: space-around;
}

.botones button:hover{
    background-color: black;
    border-radius: 5rem;
    transition: border-radius 0.7s; 
    transition: background-color 0.3s;
}

.ejercicio button {
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: rgb(0, 113, 179);
    color: white;
    border: none;
    border-radius: 1rem;
}

.contenido-index a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
  
.contenido-index div:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.57);
    position: relative;
    top: -3px;
    left: -3px;
    transition: all 0.1s;
}

footer{
    margin: 0;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(0, 113, 179);

}